<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="cordova-plugin-bluetoothle" version="4.5.6">
  <engines>
    <engine name="cordova-plugman" version=">=5.0.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>
  <name>Bluetooth LE</name>
  <description>plugin to connect ZTC</description>
  <author>Bibazavr</author>
  <keywords>bluetooth,bluetoothle,bluetooth le,cordova</keywords>
  <license>MIT</license>
  <js-module src="www/bluetoothle.js" name="BluetoothLe">
    <clobbers target="window.bluetoothle" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="android-package" value="com.microline.bluetoothle.BluetoothLePlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/com/microline/bluetoothle/BluetoothLePlugin.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/Operation.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/Background.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/AutoStartParams.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/Actions.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/EnableBluetoothActivity.java" target-dir="src/com/microline/bluetoothle" />
    <source-file src="src/android/com/microline/bluetoothle/Constants.java" target-dir="src/com/microline/bluetoothle" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.microline.bluetoothle.Background"/>
      <activity android:name="com.microline.bluetoothle.EnableBluetoothActivity" android:launchMode="singleInstance"
                android:taskAffinity=""
                android:autoRemoveFromRecents="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
      </activity>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    </config-file>
    <framework src="androidx.appcompat:appcompat:1.1.0" />
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/BluetoothLePlugin.h" />
    <source-file src="src/ios/BluetoothLePlugin.m" />
    <framework src="CoreBluetooth.framework" />
  </platform>
</plugin>
